<p>
  reactive-form works!
</p>
<div>{{name.value}}</div>
<button (click)="name.setValue('bob')">click me</button>
<form>
  <label for="name">name</label>
  <input type="text" name="name" id="name" [formControl]="name">

  <label for="gender">gender</label>
  <select name="gender" id="gender" [formControl]="gender">
    <option value="male">male</option>
    <option value="female">female</option>
  </select>
</form>



<div>============================</div>
<form [formGroup]="form">
  <label>name</label>
  <input type="text" name="name" formControlName="name">

  <label>gender</label>
  <select name="gender" formControlName="gender">
    <option value="male">male</option>
    <option value="female">female</option>
  </select>
</form>
